<!DOCTYPE html>
<html lang="en">
  <head>
    <META CHARSET="utf-8">
    <META NAME="viewport" CONTENT="width=device-width, initial-scale=1">
    <META HTTP-EQUIV="X-UA-Compatible" CONTENT="IE=edge">
    <META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
    <META HTTP-EQUIV="EXPIRES" CONTENT="0">
    <META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 22 Jul 2002 11:12:01 GMT">
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="no-cache, no-store, must-revalidate">

    <title>NCTU IoTtalk Single Control</title>

    <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="static/img/favicon.ico" type="image/x-icon">

    <script type="text/javascript" src="static/js/qrcode.js"></script>
  </head>

  <body>
    <div class="row container-fluid">
      <div id="qrcode" style="width:100px; height:100px; margin-top:15px;"></div>
    </div>
  </body>
</html>


<script type="text/javascript">
  var qrcode = new QRCode(document.getElementById("qrcode"), {
    width : 300,
    height : 300
  });

  qrcode.makeCode("http://"+window.location.hostname+":5000");
</script>

